@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

select {
    width: 100%;
}

#container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.paintOptions, .interiorOptions, .wheelOptions, .techOptions {
    border: 1px dashed teal;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 5px 5px 12px gray;
    margin: 20px 30px;
    background-color: beige;
    flex-basis: 35%;
}

.customOrders {
    margin: 30px 0  0 30px;
}

.order {
    background-color: azure;
    border: dashed teal 1px;
    padding: 15px;
    margin: 15px 0;
}

#submit {
    background-color:teal;
    color:beige;
    font-size: smaller;
    padding: 5px;
    margin: 10px 0 0 30px;
}
